# Backend API
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# Next Auth (will be used in auth-y-roles change)
NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=http://localhost:3000

# Node env
NODE_ENV=development
